* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  background-color: rgb(200, 210, 227);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5rem;
  text-align: center;
}

#navigation-links-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation-link {
  border: solid 1px black;
  border-radius: 6px;
  padding: 8px;
  margin: 4px 6px;
  text-decoration: none;
  background-color: rgb(245, 243, 229);
  text-align: center;
}

.navigation-link:hover {
  background: #e0e0e0;
}

.json-response {
  background-color: rgb(245, 243, 229);
  font-family: monospace;
  padding: 20px;
  border: solid;
  display: inline-block;
  border-radius: 6px;
  white-space: pre;
}

.sub-heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.section-sub-heading {
  background-color: rgb(200, 210, 227);
  padding: 0.5rem;
}
