* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin: 20px 5px;
    border: dashed */
}

h1 {
    background-color: rgb(200, 210, 227);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* padding: 40px 20px 40px 20px;
    margin: 10px 0px 10px 0px; */
}

.json-response {
    background-color: rgb(245, 243, 229);
    font-family: monospace;
    /* margin: 15px 700px 15px 30px; */
    padding: 20px;
    border: solid;
    display: inline-block;
}

.section-sub-heading {
    color: rbg(3, 32, 138);
    /* margin: 20px 0px 0px 0px; */
}

.sub-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#get-api-topics-json {
    border: solid;
}

#get-api-articles-json {
    border: solid;
}

#get-api-articles-articleid-json {
    border: solid;
}

#patch-api-articles-articleid-json {
    border: solid;
}

#get-api-articles-articleid-comments-json {
    border: solid;
}

#posting-body-comment-json {
    border: solid;
}

#post-api-articles-articleid-comments-json {
    border: solid;
}

#api-users-json {
    border: solid;
}
